@font-face {
    font-family: Ubuntu;
    src: url(assets/font/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Bariol;
    src: url(assets/font/Bariol_pl.ttf);
}

@import 'variables';

* {
    margin: 0;
    padding: 0;
    font-family: Bariol;
    font-weight: 600;
    color: $accent;
    font-size: 28px;
    box-sizing: border-box;
    outline: none;
}

h1 {
    font-size: 75px;
    text-shadow: 3px 3px $light-back;
}
h2 {
    font-size: 50px;
    text-shadow: 3px 3px $light-back;
}

.background, .overback {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    

    background: rgba(250,250, 250, 0.1) url(assets/img/background.png);
    background-blend-mode:color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.overback {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.center{
    position: absolute;
    width: 350px;    
}

.vertical{
    top: 50%;
    transform: translateY(-50%);
} 

.horizontal {
    left: 50%;
    transform: translateX(-50%);
} 

.horizontal-vertical {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

